header {
  width: 160px;
  margin: auto;
  background-color: rgb(236, 98, 0);
  padding: 15px;
}
.container {
  display: grid;
  column-gap: 50px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(236, 98, 0);
  padding: 10px;
  size
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*kansje bruk grid container